
<h2>Edit Klasses</h2>

	<table class="table table-striped table-hover table-condensed edit-mulitple">
		<thead>
			<tr>
				<th><%= casein_sort_link "Title", :title %></th>
				<th><%= casein_sort_link "# of sessions", :number_of_sessions %></th>
				<th><%= casein_sort_link "Session of day", :session_of_day %></th>
				<th><%= casein_sort_link "Course", :course_title %></th>
				<th><%= casein_sort_link "Status", :workflow_state %></th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		
			<% @klasses.each do |klass| %>
			<%= simple_form_for klass, :url => casein_klass_path(klass), defaults: { input_html: { :class => 'multiple-edit' } } do |f| %>
				<tr>
					<td><%= casein_table_cell_link klass.title, casein_klass_path(klass) %></td>
					<td><%= f.input :number_of_sessions, label: false %></td>
					<td><%= f.input :session_of_day, label: false, collection: Klass::SESSIONS, include_blank: true %></td>
					<td><%= f.input :course_id, collection: Course.all, label: false,text_method: :title %></td>
					<td><%= f.input :workflow_state, label: false, :collection => Klass.states %>
					</td>
					<td class="delete">
						<%= link_to(casein_show_row_icon("trash"), casein_klass_path(klass), :method => :delete, :data => { :confirm => "Are you sure you want to delete this klass?" }) %>
					</td>
				</tr>
			<% end %>
			<% end %>				
	</table>

<%= content_for :sidebar do %>

	<li><%= link_to "#{casein_show_icon "plus-sign"}Add a new klass".html_safe, new_casein_klass_path %></li>

<% end %>