
<section class="hero">
  <div class="intro">
      <h1>Welcome</h1>
      <p>AIMS is a unique summer experience singing for tutors with a wealth of international performing and teaching experience. We are celebrating the 10th Anniversary of AIMS in 2016!</p>
      <p>
      <% @courseformats.each do |courseformat| %>
		<b><%= courseformat.title %>:</b> <%= from_to(courseformat.when_from, courseformat.when_to) %><br />
		<% end %>
		</p>
  </div>
</section>

<section class="attention container-fluid">
	<div class="row row-attention">
	<% @courses.each do |course| %>
		<%= link_to course_path(course) do %>
			<div class="course col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<div class='course-heading'>
					<span class='course-title'><h3><%= course.title %></h3></span>
				</div>
				<div class='course-body' %>
					<p>
					<%= truncated_description(course.description) %>
					</p>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
</section>

<section class="container-fluid">
	<h2><%= @feature_courseformat.title %> Highlights</h2>
			<% @feature_courseformat.highlights.each do |highlight| %>
				<%= link_to courseformat_path(@feature_courseformat) do %>

					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="highlight">
							<h4><%= highlight.title %></h4>
							<hr />
							<%= highlight.description %>
						</div>
					</div>
				<% end %>
			<% end %>
</section>

<section class="news">
	<div class="news col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class='news-head'>
		<h2>News</h2>
		</div>
		<table class='table table-striped'>
			<% @news_items.take(5).each do |news_item| %>
			<tr>
				<td>
					<h4><%= news_item.title %></h4>
					<p><% if news_item.has_attribute?(:content) %>
						<%= news_item.content %>
					<% elsif news_item.has_attribute?(:description) %>
						<% truncated_blurb(news_item.description.html_safe) %></p>
						<% end %>
					<p><%= d_m_y(news_item.created_at) %><%= image_tag 'facebook-icon.png', :class => 'social-icon' %><%= image_tag 'twitter-icon.png', :class => 'social-icon' %><%= image_tag 'email-icon.png', :class => 'social-icon' %></p>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</section>
<section class="events container-fluid">
	<div class="news col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<h2>Events</h2>
		<table>
			<% @events.each do |event| %>
				<tr>
					<td>
						<h4><%= event.title %></h4>
						<p><%= truncated_blurb(event.description.html_safe) %></p>
						<p><%= event.date %>
					</td>
				</tr>
			<% end %>
		</table>

	</div>
	<div class="whats-new col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<span class="quote"><i class="icomoon icon-quotes-left">So much music, so much fun, loads of fantastic singing. Thanks all for such a great time!</i></span>
	</div>
</section>