<% if @feature_page.nil? %>
	<section class="hero">
		<div class="intro">
		    <h1>Welcome</h1>
		    <p>Please select a feature page</p>
		    <p>
		    	<% @courseformats.each do |courseformat| %>
				<b><%= courseformat.title %>:</b> <%= from_to(courseformat.when_from, courseformat.when_to) %><br />
				<% end %>
			</p>
  		</div>
  	</section>
<% else %>
	<section class="hero" style="background: url('<%= @feature_page.feature_image %>'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
		 	<div class="intro">
		    	<h1><%= @feature_page.title %></h1>
		   		<p><%= @feature_page.content.html_safe %></p>
			    <p>
			    <% @courseformats.each do |courseformat| %>
				<b><%= courseformat.title %>:</b> <%= from_to(courseformat.when_from, courseformat.when_to) %><br />
					<% end %>
				</p>
	  		</div>
	</section>
<% end %>

<% if @feature_courses.present? %>
	<section class="feature container-fluid">
		<div class="row feauture-row">
		<% @feature_courses.each do |course| %>
			<%= link_to course_path(course) do %>
				<div class="feature-course col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class='course-heading'>
						<span class='course-title'><h3><%= course.title %></h3></span>
					</div>
					<div class='course-body' %>
						<p>
						<%= truncated_description(course.description) %>
						</p>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
	</section>
<% end %>

<section class="quote-section container-fluid">
	<div class="col-xs-offset-1 col-xs-10 quote">
		<%= image_tag 'icon-quote.png', :class => "quote-icon-left img-responsive" %><%= @quotes.order("RANDOM()").first.saying %><%= image_tag 'icon-quote.png', :class => "quote-icon-right img-responsive" %>
	</div>
</section>

<% if @feature_format.highlights.present? %>
	<section class="course-highlights container-fluid">
		<h2><%= @feature_format.title %> Highlights</h2>
				<% @feature_format.highlights.each do |highlight| %>
					<%= link_to courseformat_path(@feature_format) do %>

						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="highlight">
								<h4><%= highlight.title %></h4>
								<hr />
								<%= highlight.description %>
							</div>
						</div>
					<% end %>
				<% end %>
	</section>
<% end %>

<section class="news container-fluid">
<% if !@news.present? && !@future_events.present? %>
	<div class="col-xs-offset-1 col-xs-10 quote quote-section">
		<p><%= image_tag 'icon-quote.png', :class => "quote-icon-left img-responsive" %>
				<%= @quotes.order("RANDOM()").first.saying %>
			<%= image_tag 'icon-quote.png', :class => "quote-icon-right img-responsive" %></p>
	</div>
<% else %>
	<% if @news.present? %>
		<div class="news col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class='news-heading'>
			<h2>News</h2>
			</div>
			<table class='table table-striped'>
				<% @news_items.take(5).each do |news_item| %>
				<tr>
					<td>
						<h4><%= news_item.title %></h4>
						<p><% if news_item.has_attribute?(:content) %>
							<%= news_item.content %>
						<% elsif news_item.has_attribute?(:description) %>
							<% truncated_blurb(news_item.description.html_safe) %></p>
							<% end %>
						<p><%= d_m_y(news_item.created_at) %><%= image_tag 'facebook-icon.png', :class => 'social-icon' %><%= image_tag 'twitter-icon.png', :class => 'social-icon' %><%= image_tag 'email-icon.png', :class => 'social-icon' %></p>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	<% else %>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 quote quote-section">
		<div class="quote">
		<p><%= image_tag 'icon-quote.png', :class => "quote-icon-left img-responsive" %>
				<%= @quotes.order("RANDOM()").first.saying %>
			<%= image_tag 'icon-quote.png', :class => "quote-icon-right img-responsive" %></p>
		</div>
		<div class="quote">
		<p><%= image_tag 'icon-quote.png', :class => "quote-icon-left img-responsive" %>
				<%= @quotes.order("RANDOM()").first.saying %>
			<%= image_tag 'icon-quote.png', :class => "quote-icon-right img-responsive" %></p>
		</div>
	</div>
	<% end %>
	<% if @future_events.present? %>
		<div class="news col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<h2>Events</h2>
			<table>
				<% @future_events.each do |event| %>
					<tr>
						<td>
							<h4><%= event.title %></h4>
							<p><%= truncated_blurb(event.description.html_safe) %></p>
							<p><%= event.date %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</section>
	<% else %>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 quote quote-section">
			<div class="quote">
				<p><%= image_tag 'icon-quote.png', :class => "quote-icon-left img-responsive" %>
						<%= @quotes.order("RANDOM()").first.saying %>
					<%= image_tag 'icon-quote.png', :class => "quote-icon-right img-responsive" %></p>
				<br />
			</div>
			<div class="quote">
				<p><%= image_tag 'icon-quote.png', :class => "quote-icon-left img-responsive" %>
						<%= @quotes.order("RANDOM()").first.saying %>
					<%= image_tag 'icon-quote.png', :class => "quote-icon-right img-responsive" %></p>
			</div>
		</div>
	</section>
	<% end %>
<% end %>