<% meta title: "What's Next",
	keywords: "#w{booking next step}" %>
<h1 class = 'page-heading'>What's Next</h2>

Dear <%= @salutation %> <%= @name %>,<br />

<span class='cheer'>Thank you for submitting your booking for <%= @campaign_name %>!</span>
<br />
<br />
<span class='note'>Your booking confirmation number: <%= @opp_uid %></span>
<br />
<br />

<%= @page.content.html_safe %>