<p>Hello, Admin</p>
<br />
<p>
	A new booking for <%= @campaign %> has been submitted to Salesforce by <%= @name %>, with email: <%= @email %>
</p>

<br />
<p>
This booking account web uid:<b><%= @web_uid %></b><br />
This booking opportunity uid:<b><%= @opp_uid %></b>
</p>
<br />
<% if @payment_method == 'bank' %>
	<%= @name %> has selected to pay by <b>Bank Transfer or cheque</b>
<% else %>
	<%= @name %> has selected to pay by <b>Stripe</b>
<% end %>

Regards,<br />
<br />

Your website.