<p>Hello, Admin</p>
<br />
<p>
	A new booking <%= @campaign %> has been submitted to Salesforce by <%= @first_name %> <%= @last_name %>, with email: <%= @email %>
</p>

<br />
<p>
This booking account web uid:<b><%= @web_uid %></b><br />
This booking opportunity uid:<b><%= @opp_uid %></b>
</p>
<br />

Regards,<br />
<br />

Your website.