
<span class = 'payment-errors'></span>
<h4>Credit Card Information</h4>
<i>We accept...</i><%= image_tag 'card_visa.png', :class => 'img-responsive card' %> <%= image_tag 'card_master.png', :class => 'img-responsive card' %> <%= image_tag 'card_amex.png', :class => 'img-responsive card' %>
<%= image_tag 'stripe-solid.png' %><br />
<div class = "payment-errors"></div>
<br />
<div class = 'row'>
	<div class = 'col-xs-9 col-sm-9 col-md-9'>
		<%= f.input :card_number, required: false, input_html: { "data-stripe" => "number" } %>
	</div>
	<div class = 'col-xs-3 col-sm-3 col-md-3'>
	<%= f.input :cvc, label: "cvc", required: false, input_html: { "data-stripe" => "cvc" } %>
	</div>
</div>
<div class = 'row'>
	<div class = "col-xs-6 col-sm-6">
		<span id = "valid-date" class = "warning"></span>
		<%= f.input :expiration_date, label: "Expiration (MM/YYYY)", wrapper: :vertical_input_group do %>
			<%= f.input_field :month, label: false, required: false, maxlength: 2, "data-stripe" => "exp-month", :class => 'form-control' %>
			<span class = 'input-group-addon'> / </span>
			<%= f.input_field :year, label: false, required: false, maxlength: 4, "data-stripe" => "exp-year", :class => 'form-control' %>
		<% end %>
	</div>
</div>
<br />
<%= button_to 'Calculate Service Charge', "#", :class => 'btn btn-success', :id => 'calculate' %>
<%= f.submit 'Submit and Pay', name: 'stripe_booking', :class => 'btn btn-primary pull-right', :id => 'stripeButton', :disabled => true %>