<% meta title: "Booking",
	keywords: #w{booking course} %>

<h1>Bookings</h1>

<%= simple_form_for :booking, :url => bookings_path, :method => 'post', html: {:id => 'booking_form'} do |f| %>

<div class = 'row'>
	<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>

		<%= f.input :campaign_id, label: 'I would like to book...' do %>
			<%= f.select :campaign_id, @campaigns.map { |c| [c.Name, c.Id, {'data-type' => c.Sub_Type__c}]}, {include_blank: 'Select a Course'}, {:class => 'form-control campaign-select', required: true } %>
		<% end %>
	</div>
</div>
<div class = 'row'>
	<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
		<div class = 'row'>
			<div class = 'col-xs-12 col-sm-6 col-md-4 col-lg-4'>
				<%= f.input :salutation, collection: ["Mr.", "Ms.", "Mrs.", "Dr.", "Prof."] %>
			</div>
			<div class = 'col-xs-12 col-sm-6 col-md-8 col-lg-8'>
				<%= f.input :first_name, as: :string, required: true %>
			</div>
		</div>
			<%= f.input :last_name, as: :string, required: true %>
			<%= f.input :street_address, required: false %>
		<div class = 'row'>
			<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
				<%= f.input :city, required: false %>
			</div>
			<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
				<%= f.input :county, required: false %>
			</div>
		</div>
		<div class = 'row'>
			<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
				<%= f.input :country, required: false %>
			</div>

			<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
				<%= f.input :post_code, required: false %>
			</div>
		</div>
	</div>
	<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
		<%= f.input :email, required: true %>
		<%= f.input :telephone, required: false %>
		<%= f.input :mobile, required: false %>
		<%= f.input :date_of_birth, required: false %>
		<%= f.input :voice_type, collection: @voice_types, value_method: :value, label_method: :label, required: false %>
	</div>
</div>
<br />

<div class = 'Summer course-options'>
	<div class = 'row'>
		<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
			<%= f.input :car_reg, label: 'Car Registration (optional)', required: false %>
		</div>
	</div>
	<div class = 'row summer-section'>
		<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<h2>Summer School Options</h2>
		</div>
		<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
			<%= f.input :course, collection: find_soap_field(@booking, 'Course__c'), label_method: :label, value_method: :value, include_blank: 'Select a course', label: 'Course Stream', input_html: { :class => 'course-select'}, required: false %>
		</div>
	</div>
	<div class = 'row course-booking Solo Crossover'>
		<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<h3 class = 'inline-title'>Solo Classes</h3><span class = 'instruction'> (All students enrolled on the SOLO course should select Solo Vocal Techniuqe class and up to 3 additional options)</span>
		</div>
		<br />
		<br />
		<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<%= f.collection_check_boxes :solo_classes, find_soap_field(@booking, 'Solo_classes__c'), :value, :label, :include_hidden => false, item_wrapper_class: 'solo-select', required: false %>
		</div>
		<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
			<%= f.input :notes_for_class_selection, label: 'Choice 4 (optional)', hint: '(Replace with this option if any of my selections are not availble)', required: false %>
		</div>
		<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			(optional) I would like to supplement my Solo classes with <%= link_to 'Choral or Ensemble Classes', '#', :class => 'supplement btn btn-success btn-xs' %>
		</div>
	</div>

	<div class = 'row course-booking Choral Crossover'>
		<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<h3 class = 'inline-title'>Choral and Ensemble Classes</h3><span class = 'instruction'> (please select 1 from each session)</span>
		</div>
		<br />
		<br />
		<div class = 'col-xs-12 col-sm-3 col-md-3 col-lg-3 session'>
			<%= f.input :session_1, collection: find_soap_field(@booking, 'Session_1__c'), label_method: :label, value_method: :value, input_html: { :class => 'session-select'}, required: false %>
			<% find_soap_field(@booking, 'Session_1__c').each do |selection| %>
				<% if sf_session_options(@booking.fields, selection.value, 'Session_1__c', @client).present? %>
					<div class = 'session-options' data-selection='<%= selection.value %>'>
						<span class='instruction'>Select either or both of the following options.</span><br />
						<%= f.collection_check_boxes :session_1_options, sf_session_options(@booking.fields, selection.value, 'Session_1__c', @client), :value, :label, :include_hidden => false, required: false %>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class = 'col-xs-12 col-sm-3 col-md-3 col-lg-3 session'>
			<%= f.input :session_2, collection: find_soap_field(@booking, 'Session_2__c'), label_method: :label, value_method: :value, input_html: { :class => 'session-select'}, required: false %>
			<% find_soap_field(@booking, 'Session_2__c').each do |selection| %>
				<% if sf_session_options(@booking.fields, selection.value, 'Session_2__c', @client).present? %>
					<div class = 'session-options' data-selection='<%= selection.value %>'>
						<span class='instruction'>Select either or both of the following options.</span><br />
						<%= f.collection_check_boxes :session_2_options, sf_session_options(@booking.fields, selection.value, 'Session_2__c', @client), :value, :label, :include_hidden => false, required: false %>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class = 'col-xs-12 col-sm-3 col-md-3 col-lg-3 session'>
			<%= f.input :session_3, collection: find_soap_field(@booking, 'Session_3__c'), label_method: :label, value_method: :value, input_html: { :class => 'session-select'}, required: false %>
			<% find_soap_field(@booking, 'Session_3__c').each do |selection| %>
				<% if sf_session_options(@booking.fields, selection.value, 'Session_3__c', @client).present? %>
					<div class = 'session-options' data-selection='<%= selection.value %>'>
						<span class='instruction'>Select either or both of the following options.</span><br />
						<%= f.collection_check_boxes :session_3_options, sf_session_options(@booking.fields, selection.value, 'Session_3__c', @client), :value, :label, :include_hidden => false, required: false %>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class = 'col-xs-12 col-sm-3 col-md-3 col-lg-3 session'>
			<%= f.input :session_4, collection: find_soap_field(@booking, 'Session_4__c'), label_method: :label, value_method: :value, input_html: { :class => 'session-select'}, required: false %>
			<% find_soap_field(@booking, 'Session_4__c').each do |selection| %>
				<% if sf_session_options(@booking.fields, selection.value, 'Session_4__c', @client).present? %>
					<div class = 'session-options' data-selection='<%= selection.value %>'>
						<span class='instruction'>Select either or both of the following options.</span><br />
						<%= f.collection_check_boxes :session_4_options, sf_session_options(@booking.fields, selection.value, 'Session_4__c', @client), :value, :label, :include_hidden => false, required: false%>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class = 'row'>
		<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6 audition'>
			<h3>Audition</h3>
			<span>I would like to be considered for (please tick all that apply):</span><br />
			<br />
			<%= f.collection_check_boxes :audition_for, find_soap_field(@booking, 'Auditioning_for__c'), :value, :label, required: false %><br />
			<br />
			<span>I would like to attend the audiiton on Saturday 9 April, 2016: </span> <br />
			<br />
			<%= f.input :audition, collection: find_soap_field(@booking, 'Audition_requested__c'), label_method: :label, value_method: :value, label: false, include_blank: 'Selection an audition time option', required: false %>
		</div>
		<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6 audition-notes'>
			<h3>Audition Recording/Notes</h3>
			<span>If you would like to be considered for Solo, Masterclass, or Bursary but cannot audition in person, please send us recordings, either via email or paste the links below:</span> <br />
			<%= f.input :audition_notes, as: :text, label: false, required: false %>
		</div>
	</div>
	<br />
	<div class = 'row bottom-div'>
		<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<h3>Fee (Accommodation) Options</h3>
		</div>
		<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<%= f.input :summer_product_code, required: false, label: false do %>
				<%= f.select :summer_product_code, @summer_fees.map { |sf| [sf.full_description, sf.product_code, {'data-amount' => sf.amount}]}, {include_blank: 'Select an option'}, {:class => 'form-control fee-select', :id => 'Summer-fee'} %>
			<% end %>
		</div>
	</div>
</div>

<div class = 'row course-options Taster'>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<h2>Mini-Aims Course Options</h2>
	</div>
	<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
			<%= f.input :course, collection: ['Solo', 'Choral'], include_blank: 'Select a course', label: 'Course Stream', input_html: { :class => 'course-select'}, required: true %>
	</div>
	<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
		<%= f.input :days, collection: ['Saturday', 'Sunday'], as: :check_boxes, label: 'I would like to attend...', required: true %>
	</div>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<%= f.input :taster_product_code, label: 'Fee', required: false do %>
			<%= f.select :taster_product_code, @mini_fees.map { |sf| [sf.full_description, sf.product_code, {'data-amount' => sf.amount}]}, {include_blank: 'Select an option'}, {:class => 'form-control fee-select', :id => 'Taster-fee'} %>
		<% end %>
	</div>
</div>

<!--- Payment Options Commented Out until Payment Gate is decided
<div class = 'row'>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<h3>Payment</h3>
	</div>
	<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
		<%= f.input :stage, collection: ['Full amount', 'Deposit'], as: :radio_buttons, label: 'I would like to pay...', input_html: { :class => 'payment-stage'}, required: true %>
	</div>
	<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6 total'>
		<div class = 'col-xs-4 col-sm-4 col-md-4 col-lg-4 amount-header'%>
			<b>Amount due: </b>
		</div>
		<div class = 'col-xs-8 col-sm-8 col-md-8 col-lg-8'%>
			<span class = 'payment-amount'></span>
		<%= f.input :payment_amount, as: :hidden, label: false, required: false %>
		</div>
	</div>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12 agreement'>
		I enclose my deposit of £75 (non-refundable) and I understand to pay the remainder of 50% of my fees by 1 May 2016 and the blance by 30 June 2016.

		Note: please make sure that you send the full amount to the AIMS account and that any bank charges are compensate for at your end. Any payments that have had deductions made will have to be paid up in ful at the beginning of the course.
	</div>
</div>
-->

<div class = 'row'>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<h3>Payment</h3>
	</p>By cheque (made payable to <b>AIMS International Music School</b>) or Bank transfer (details below)</p>
	</div>
	<div class = 'col-xs-12 col-sm-12 col-md-8 col-lg-8'>
		<div class = 'bank-detail row'>
			<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
				<b>SORT CODE:</b> 40 25 06
			</div>
			<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
				<b>IBAN:</b> GB37MIDL40250681383132
			</div>
			<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
				<b>ACCOUNT NUMBER:</b> 81383132
			</div>
			<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
				<b>BIC:</b> MIDLGB2113U
			</div>
		</div>
	</div>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<p>
			Please make sure that you send the full amount to the AIMS account, that any bank chanrges are compensated for at your end. Any payments that have had deductions made will have to be paid up in full at the beginning of the course.
		</p>
		<p>
			To confirm your booking, you can pay a deposit of £75 (non-refundable). You will pay the remainder of 50% of your fees by 1 May 2016 and the blance by 30 June 2016.
		</p>
	</div>
</div>

	<br class = 'clr' />
	<%= f.button :submit, 'Submit Booking', :class => 'btn btn-primary btn-lg' %>
<% end %>

<script>
	$(function() {

		function resetSummerClasses() {
			$('.solo-select input:checked').removeAttr('checked');
			$('#booking_notes_for_class_selection').val("");
			$('.session select').val("");
			$('.session input:checked').removeAttr('checked');
			$('.session-options').hide();
		};

		function resetSummerOptions() {
			$('.audition input[type=checkbox]:checked').removeAttr('checked');
			$('.audition select').val("");
			$('#Summer-fee').val("");
		}


		$(".session-select").change(function() {
			$(this).closest('.session').find('.input:checked').removeAttr('checked');
			$(this).closest('.session').children('.session-options').hide();
			$("div[data-selection='" + $(this).val() + "']").show();
		})

		$("#booking_campaign_id").change(function() {
			$(".course-options").hide();
			$("." + $(this).find(':selected').data("type")).show();
			$('.payment-amount').empty();
			$('.payment-stage').prop('checked', false);
			$('#booking_course').val("");
			resetSummerClasses();
			resetSummerOptions();
			$('.Taster select').val("");
			$('.Taster input:checked').removeAttr('checked');

		})

		$('.solo-select input[type=checkbox]').change(function(e){
		   if ($('.solo-select input[type=checkbox]:checked').length > 4) {
		        $(this).prop('checked', false)
		        alert('You cannot select more than 4 classes.');
		   }
		})

		$('.course-select').change(function() {
			resetSummerClasses();
			// $('.course-booking').hide();

			$("." + $(this).val()).show();
		})

		$('.supplement').click(function(event) {
			$('.Choral').show();
			event.preventDefault();
		})

		$('.payment-stage').click(function() {
			$('.payment-amount').empty();
			if ($(this).val() ==  'Full amount') { 
				var campaign = $('#booking_campaign_id').val();
				var validator = $('#booking_form').validate();
				$('.agreement').hide();

				// console.log ($('.campaign-select').find(':selected').data("type") );

				if (validator.element('#booking_campaign_id')) {
					if ($('#booking_campaign_id').find(':selected').data("type") == 'Summer') {
						console.log($('#Summer-fee').find(':selected').val());
						if (!$('#Summer-fee').find(':selected').val()) {
							console.log("found it!");
							$("#Summer-fee").addClass('warning-box');
							$("#Summer-fee").before("<span class = 'warning'>Please select an option first</div>");
							$("#Summer-fee").focus();
						} else {
							var amount = $('#Summer-fee').find(':selected').data('amount');
							// console.log(amount);
							$('#booking_payment_amount').val(amount);

							$('.payment-amount').text("£" + amount);
						}

					} else if ($('#booking_campaign_id').find(':selected').data("type") == 'Taster') {
						console.log($('#Taster-fee').find(':selected').val());
						if (!$('#Taster-fee').find(':selected').val()) {
							$("#Taster-fee").addClass('warning-box');
							$("#Taster-fee").before("<span class = 'warning'>Please select an option first</div>");
							$('#Taster-fee').focus();
						} else {
							var amount = $('#Taster-fee').find(':selected').data('amount');
							// console.log(amount);
							$('#booking_payment_amount').val(amount);
	
							$('.payment-amount').text("£" + amount);
						}
					}
				} else {
					$('#booking_campaign_id').focus;
				}
			} else if ($(this).val() == 'Deposit') {
				var amount = '75.00'
				// console.log('75.00');
				$('#booking_payment_amount').val(amount);
				$('.payment-amount').text("£" + amount);
				$('.agreement').show();
			}
		})
		
		$('.fee-select').change(function() {
			console.log($('.booking_stage').find(':checked').val());
			if ($('.booking_stage').find(':checked').val() == 'Full amount') {
				var amount = $(this).find(':selected').data("amount");
				console.log(amount);
				$('.payment-amount').empty();
				$('#booking_payment_amount').val(amount);
				$('.payment-amount').text("£" + amount);
				$('.warning').remove();
				$(this).removeClass('.warning-box');
			}
		})

		$('#booking_form').validate({
			errorClass: 'invalid',
			errorPlacement: function(error, element) {
				error.appendTo($("label[for='" + element.attr('id') + "']"));
			}
		});


	})
</script>
