<h1>Bookings</h1>

<ul>
<% @booking.recordTypeInfos.each do |type| %>
<li>
<%= type.name %>
</li>
<% end %>
</ul>

<ul>
<% @contacts.each do |type| %>
<li>
<%= type.Name %>
</li>
<% end %>
</ul>

<%= simple_form_for :booking, :url => bookings_path, :method => 'post' do |f| %>
<div class = 'row'>
	<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
		<div class = 'row'>
			<div class = 'col-xs-12 col-sm-6 col-md-4 col-lg-4'>
				<%= f.input :salutation, collection: ["Mr.", "Ms.", "Mrs.", "Dr.", "Prof."] %>
			</div>
			<div class = 'col-xs-12 col-sm-6 col-md-8 col-lg-8'>
				<%= f.input :first_name, as: :string %>
			</div>
		</div>
			<%= f.input :last_name, as: :string %>
			<%= f.input :street_address %>
		<div class = 'row'>
			<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
				<%= f.input :city %>
			</div>
			<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
				<%= f.input :county %>
			</div>
		</div>
		<div class = 'row'>
			<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
				<%= f.input :country %>
			</div>

			<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
				<%= f.input :post_code %>
			</div>
		</div>
	</div>
	<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
		<%= f.input :email %>
		<%= f.input :telephone %>
		<%= f.input :mobile %>
		<%= f.input :date_of_birth %>
		<%= f.input :car_reg %>
		<%= f.input :voice_type, collection: @voice_types, value_method: :value, label_method: :label %>
	</div>
</div>
<br />
<div class = 'row'>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<% @sf_courses.each do |course| %>
			<%= link_to course.label, '#', :class => 'btn btn-success' %>
		<% end %>
	</div>
</div>
<br />


	<br class = 'clr' />
<%= f.button :submit, :class => 'btn btn-primary' %>
<% end %>
<%= simple_form_for :booking, :url => bookings_path do |f| %>
<div class = 'row'>

	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
	<h3 class = 'inline-title'>Solo Classes</h3><span class = 'instruction'> (please select up to 3 options)</span><br />
		<%= f.collection_check_boxes :solo_classes, @solo_classes, :value, :label %>
	</div>
	<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
		<%= f.input :notes_for_class_selection, label: 'Choice 4 (optional)', hint: '(Replace with this option if any of my selections are not availble)' %>
	</div>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<h3 class = 'inline-title'>Choral and Ensemble Classes</h3><span class = 'instruction'> (please select 1 from each session)</span><br />
	</div>
	<div class = 'col-xs-12 col-sm-3 col-md-3 col-lg-3 session'>
		<%= f.input :session_1, collection: @session1_values, label_method: :label, value_method: :value, input_html: { :class => 'session-select'} %>
		<% @session1_values.each do |selection| %>
			<% if sf_session_options(@booking.fields, selection.value, 'Session_1__c', @client).present? %>
				<div class = 'session-options' data-selection='<%= selection.value %>'>
					Select either or both of the following options.
					<%= f.collection_check_boxes :session_1_options, sf_session_options(@booking.fields, selection.value, 'Session_1__c', @client), :value, :label %>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class = 'col-xs-12 col-sm-3 col-md-3 col-lg-3 session'>
		<%= f.input :session_2, collection: @session2_values, label_method: :label, value_method: :value, input_html: { :class => 'session-select'} %>
		<% @session2_values.each do |selection| %>
			<% if sf_session_options(@booking.fields, selection.value, 'Session_2__c', @client).present? %>
				<div class = 'session-options' data-selection='<%= selection.value %>'>
					Select either or both of the following options.
					<%= f.collection_check_boxes :session_2_options, sf_session_options(@booking.fields, selection.value, 'Session_2__c', @client), :value, :label %>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class = 'col-xs-12 col-sm-3 col-md-3 col-lg-3 session'>
		<%= f.input :session_3, collection: @session3_values, label_method: :label, value_method: :value, input_html: { :class => 'session-select'} %>
		<% @session3_values.each do |selection| %>
			<% if sf_session_options(@booking.fields, selection.value, 'Session_3__c', @client).present? %>
				<div class = 'session-options' data-selection='<%= selection.value %>'>
					Select either or both of the following options.
					<%= f.collection_check_boxes :session_3_options, sf_session_options(@booking.fields, selection.value, 'Session_3__c', @client), :value, :label %>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class = 'col-xs-12 col-sm-3 col-md-3 col-lg-3 session'>
		<%= f.input :session_4, collection: @session4_values, label_method: :label, value_method: :value, input_html: { :class => 'session-select'} %>
		<% @session4_values.each do |selection| %>
			<% if sf_session_options(@booking.fields, selection.value, 'Session_4__c', @client).present? %>
				<div class = 'session-options' data-selection='<%= selection.value %>'>
					Select either or both of the following options.
					<%= f.collection_check_boxes :session_4_options, sf_session_options(@booking.fields, selection.value, 'Session_4__c', @client), :value, :label %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<div class = 'row'>
	<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
	<h3>Audition</h3>
		<span>I would like to audiiton. (Please indicate AM or PM)</span> <br />
		<%= f.collection_check_boxes :audition, @audition, :value, :label %>
	</div>
		<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
		<span>I would like to be considered for (please tick all that apply):</span><br />
		<%= f.collection_check_boxes :audition_for, @audition_for, :value, :label %>
	</div>
</div>
<br />
<div class = 'row'>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<h3>Accommodation Options</h3>
		<%= f.input :product_code, collection: @booking_courseformat, as: :grouped_select, group_method: :fees, value_method: :product_code, label_method: :full_description, label: false %>
	</div>
</div>
<div class = 'row'>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<h3>Payment</h3>
		<%= f.input :payment_amount %>
	</div>
</div>




	<br class = 'clr' />
	<%= f.button :submit, :class => 'btn btn-primary' %>
<% end %>

<ul>
	<% @contact.fields.each do |field| %>
	<li><%= field.name %></li>
	<% end %>
</ul>





<script>
	$(function() {
		$(".session-select").change(function() {
			$(this).closest('.session').children('.session-options').hide();
			$("div[data-selection='" + $(this).val() + "']").show();
		})
		
	})
</script>