<% meta title: "Payment Page",
	keywords: "#w{booking payment}" %>
<h1 class = 'page-heading'>Payment</h1>

<%= simple_form_for :stripe_payment, :url => charge_bookings_path, :method => 'post', html: {:id => 'payment-form'} do |f| %>
<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6 payment-amount' %>
		<%= f.input :email, label: "Email (required)", input_html: {value: @email} %>
		<%= f.input :payment_for, collection: ["Course fee", "Other"], include_blank: 'paying for...',input_html: {value: @payment_for} %>
		<%= f.input :confirmation_number, label: "Booking confirmation number (optional)", input_html: {value: @confirmation}, required: false %>
	<%= f.input :product_description, as: :text, input_html: {value: @description} %>
	<%= f.input :amount, wrapper: :vertical_input_group do %>
		<span class="input-group-addon">£</span>
		<%= f.input_field :amount, as: :float, value: @amount, :class => "amount-input form-control" %>
	<% end %>

		<%= f.input :service_fee, label: false, wrapper: :vertical_input_group do %>
			<span class="input-group-addon" id = "service-charge-addon">Service Charge:</span>
			<span class="input-group-addon">£</span>
			<%= f.input_field :service_fee, as: :float, id: 'service-charge-input', :class => 'form-control', :readonly => true %>
		<% end %>

		<%= f.input :payment_amount, label: false, wrapper: :vertical_input_group do %>
			<span class="input-group-addon" id = "total-header">Amount due:</span>
			<span class="input-group-addon">£</span>
			<%= f.input_field :payment_amount, as: :float, id: 'payment-amount-input', :class => 'form-control', :readonly => true %>
		<% end %>
</div>
<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6' %>
	<%= render :partial => "bookings/creditcard_form", :locals => { :f => f } %>
</div>
<% end %>


<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>
	Stripe.setPublishableKey("<%= Rails.configuration.stripe[:publishable_key] %>")
		function isInEU(country) {
			return $.inArray(country, ["AT", "BE", "DE", "DK", "ES", "FI", "FR", "GB", "IE", "IT", "LU", "NL", "NO", "SE"]) > -1;
		};
		function stripeResponseHandler(status, response) {
		  var $form = $('#payment-form');

		  if (response.error) {
		    // Show the errors on the form
		    $form.find('.payment-errors').text(response.error.message);
		    // $form.find('#stripeButton').prop('disabled', false);
		  } else {
		    // response contains id and card, which contains additional card details
		    var token = response.id;
		    console.log(response.card.country);
		    var tokenCountry = response.card.country;
		    var amount = parseFloat($('#sub-total').text());
		    set_amount_due_with_service(amount, tokenCountry);

		    // Insert the token into the form so it gets submitted to the server
		    // Disable the submit button to prevent repeated clicks
			
			$('#stripeButton').prop('disabled', false);
		    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
		    // and submit
		    // $form.get(0).submit();
		  }
		};

		function set_amount_due_with_service(country) {
			var amount = parseInt($("#stripe_payment_amount").val());
			$('#service-charge-input').empty();
			if(isInEU(country)) {
				var chargeAmount = (amount + 0.2) / (1 - 0.014)
				var service = chargeAmount - amount
			} else {
				var chargeAmount = (amount + 0.2) / (1 - 0.029)
				var service = chargeAmount - amount
			}

			$('#service-charge-input').val((service).toFixed(2));
			$('#payment-amount-input').val((chargeAmount).toFixed(2));
		};

	$(document).ready(function() {

		$("#stripe_payment_card_number").payment('formatCardNumber');
		$("#stripe_payment_cvc").payment('formatCardCVC');

		$('#calculate').click(function(event) {
			event.preventDefault();
			var $form = $('#payment-form');
			var month = $("#stripe_payment_month").val();
			var year = $("#stripe_payment_year").val();
			var cvc = $("#stripe_payment_cvc").val();
			var cardNumber = $("#stripe_payment_card_number").val();
			if (!$.payment.validateCardNumber(cardNumber)) {
				$("#stripe_payment_card_number").addClass('warning-box');
				$("#stripe_payment_card_number").before("<span class = 'warning'>Please enter a valid number</div>");
				$('#stripe_payment_card_number').focus();
			} else if (!$.payment.validateCardCVC(cvc)) {
				$("#stripe_payment_cvc").addClass('warning-box');
				$("#stripe_payment_cvc").before("<span class = 'warning'>Invalid</div>");
				$('#stripe_payment_cvc').focus();
			} else if (!$.payment.validateCardExpiry(month, year)) {
				$("#stripe_payment_year").addClass('warning-box');
				$("#valid-date").text("Please enter a valid date");
			} else {
				Stripe.card.createToken($form, stripeResponseHandler);
			}

			// Prevent the form from submitting with the default action
			return false;
		});
	})
</script>