<% meta title: "What's Next",
	keywords: "#w{booking next step}" %>
<h1 class = 'page-heading'>What's Next</h2>

Dear <%= @salutation %> <%= @name %>,<br />

<span class='cheer'>Thank you for submitting your booking for <%= @campaign_name %>!</span>
<br />
<br />
Payment Information
<span class='note'>Your booking confirmation number: <%= @opp_uid %></span>
<br />
<br />
<% if @payment_method == 'bank' %>
	Payment Method: Bank Transfer or Cheque
	Amount due: <%= @amount_due %>
<% elsif @payment_method == 'credit' %>
	Payment Method: Creditcards via Stripe
	Service charge: <%= @service_fee %>
	Total amount paid: <%= @payment %>
<% end %>
<% if @half_amount_remain > 0 %>
	2nd Installment due by ... : <%= @half_amount_remain %>
	Final Installment due by ...: <%= @half_amount_remain %>
<% end %>
<br />
<br />
You can make your payment(s) by:
<% if @bank_details_page %>
	<%= @bank_details_page.content.html_safe %>
<% end %>
	Stripe payment link

<%= @page.content.html_safe if @page %>