<% meta title: "What's Next",
	keywords: "#w{booking next step}" %>
<h1 class = 'page-heading'>What's Next</h2>

Dear <%= @salutation %> <%= @name %>,<br />

<span class='cheer'>Thank you for submitting your booking for <%= @campaign.Name %>!</span>
<span class='note'>Your booking confirmation number: <%= @opp_uid %></span> Please retain this for future reference.
<br />
<h3>Payment Information</h3>
<% if @payment_method == 'bank' %>
	<b>Payment Method:</b> Bank Transfer or Cheque<br />
	<b>Amount due:</b> <%= @amount_due %><br />
<% elsif @payment_method == 'credit' %>
	<b>Payment Method:</b> Creditcards via Stripe<br />
	<b>Service charge:</b> <%= @service_fee %><br />
	<b>Total amount paid:</b> <%= @payment %><br />
<% end %>
<% if @half_amount_remain || @half_amount_remain > 0 %>
	<b>2nd Installment due by ... :</b> <%= @half_amount_remain %><br />
	<b>Final Installment due by ...:</b> <%= @half_amount_remain %><br />
<% end %>
<br />
<b>You can make your payment(s) by:</b><br />
	Stripe payment link<br />
	or...<br />
	<%= @bank_details_page.content.html_safe if @bank_dertails_page %>
<br />
<br />
<%= @page.content.html_safe if @page %>