<% meta title: @courseformat.title,
		keywords: @courseformat.keyword_list %>
<h1 class = 'page-heading'><%= @courseformat.title %></h1>

<div class="important-date"><%= from_to(@courseformat.when_from, @courseformat.when_to) %></div>
<div class="important-venue"><%= @courseformat.venue %></div>
<!-- Carousel -->
<% if @courseformat.photos.present? %>
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	  	<% @courseformat.photos.each_with_index do |photo, index| %>
	    	<li data-target="#carousel-example-generic" data-slide-to="<%= index %>" <%= "class = active" if index == 0 %>></li>
	    <% end %>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	  	<% @courseformat.photos.each_with_index do |photo, index| %>
		    <div class="item <%= 'active' if index == 0 %>">
		      <%= image_tag photo.image_url, :class => 'img-responsive' %>
		    </div>
	    <% end %>
	  </div>
	</div>
<% end %>

<section class='course-description col-xs-offset-1 col-xs-10'>
	<%= @courseformat.description.html_safe %>
</section>

<% if @courseformat.highlights.present? %>
	<section class='highlights'>
		<div class='highlight-list container-fluid'>
			<h3>Highlights</h3>
			<ul>
				<% @courseformat.highlights.each do |highlight| %>
					<li><h5><%= highlight.title %></h5> - <%= highlight.description.html_safe %></li>
				<% end %>
			</ul>
		</div>
	</section>
<% end%>


<% @courseformat.courses.rank(:row_order).each do |course| %>
<div class='course container-fluid'>
	<% if course.photos.present? %>
		<div class='image col-xs-8 col-sm-8 col-md-4 col-lg-4 pull-<%= cycle("left", "right") %>' >
			<%= image_tag course.photos.order('RANDOM()').first.image_url, :class => 'img-responsive' %>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-8 col-lg-8' %>
			<h2><%= course.title %></h2>
			<p>
				<%= course.description.html_safe %>
			</p>
		</div>
	<% else %>
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' %>
			<h2><%= course.title %></h2>
			<p>
				<%= course.description.html_safe %>
			</p>
		</div>
	<% end %>
</div>
<% end %>

<% if @courseformat.pages.present? %>
	<h2>Additional Information</h2>
	<section class='staff col-xs-12 col-sm-12 col-md-12'>
		<ul>
		<% @courseformat.pages.each do |page| %>
			<li><%= link_to page.title, page_path(page) %></li>
		<% end %>
		</ul>
	</section>
<% end %>
