<h1><%= @courseformat.title %></h2>

<span class="course-date"><%= from_to(@courseformat.when_from, @courseformat.when_to) %></span>
<br />
<br />
<%= @courseformat.description.html_safe %>

<% if @courseformat.highlights.present? %>
<h3>Highlights</h3>
<div class='highlight-list'>
<ul>
	<% @courseformat.highlights.each do |highlight| %>
	<li><h5><%= highlight.title %></h5> - <%= highlight.description %></li>
	<% end %>
</ul>
</div>
<% end%>

<br />

<% @courseformat.courses.rank(:row_order).each do |course| %>
<div class='course container-fluid'>
	<%if course.photos.present? %>
		<div class='image col-xs-8 col-sm-8 col-md-4 col-lg-4 pull-<%= cycle("left", "right") %>' >
			<%= image_tag course.photos.order('RANDOM()').first.image_url, :class => 'img-responsive' %>
		</div>
		<div class='image col-xs-12 col-sm-12 col-md-8 col-lg-8' %>
			<h2><%= course.title %></h2>
			<p>
				<%= course.description.html_safe %>
			</p>
		</div>
	<% else %>
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' %>
			<h2><%= course.title %></h2>
			<p>
				<%= course.description.html_safe %>
			</p>
		</div>
	<% end %>
</div>
<% end %>
