<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-events"><%= link_to "Events", casein_events_path %></li>
<li id="tab-pages"><%= link_to "Pages", casein_pages_path %></li>
<li id="tab-course_formats"><%= link_to "Course formats", casein_course_formats_path %></li>
<li id="tab-courses"><%= link_to "Courses", casein_courses_path %></li>
<li id="tab-klasses"><%= link_to "Klasses", casein_klasses_path %></li>
<li id="tab-staffs"><%= link_to "Staffs", casein_staffs_path %></li>
<li id="tab-photos"><%= link_to "Photos", casein_photos_path %></li>
