<h1 class="page-heading">Events</h1>

<div class='calendar col-sm-12 col-md-4'>
	<h4 id='month'>
		<%= link_to '<', date: @date.prev_month %>
		<%= @date.strftime("%B %Y") %>
		<%= link_to '>', date: @date.next_month %>
	</h4>
	<%= calendar @date do |date| %>
		<% if @events_by_date[date.to_formatted_s(:numerals)] %>
			<%= link_to date: date do %>
			<%= content_tag :div, date.day, :class => 'event-day' %>
			<% end %>
		<% else %>
			<%= date.day %>
		<% end %>
	<% end %>
</div>
<div class='event-list col-sm-12 col-md-8'>
	<% if @day_events %>
		<% if @day_events.first.date.today? %>
			<h3 class='red-heading'>What's on TODAY</h3>
		<% else %>
			<h3 class='red-heading'>What's on <%= d_Month_y(@day_events.first.date) %></h3>
		<% end %>
			<% @day_events.each do |event| %>
			<%= link_to event_path(event) do %>
				<div class = 'event'>
					<h3><%= event.title %></h3>
					<p>
						<b><i><%= event_datetime(event.date) %></i>&nbsp;&nbsp;&nbsp;&nbsp;<%= event.venue %></b>
					</p>
					<p>
						<%= truncated_blurb(event.description.html_safe) %>
					</p>
					<p>
						<%= event.performers.html_safe %>
					</p>
					<hr />
				</div>
			<% end %>
			<% end %>
			<br />
			<h3 class='red-heading'>Future Events</h3>
			<% @events.each do |event| %>
			<%= link_to event_path(event) do %>
				<div class = 'event'>
					<h3><%= event.title %></h3>
					<p>
						<b><i><%= event_datetime(event.date) %></i>&nbsp;&nbsp;&nbsp;&nbsp;<%= event.venue %></b>
					</p>
					<p>
						<%= truncated_blurb(event.description.html_safe) %>
					</p>
					<p>
						<%= event.performers.html_safe %>
					</p>
					<hr />
				</div>
			<% end %>
			<% end %>
	<% else %>
		<h3 class='red-heading'>Events from	<%= @date.strftime("%B %Y") %></h3>
		<% @events.each do |event| %>
			<%= link_to event_path(event) do %>
				<div class = 'event'>
					<h3><%= event.title %></h3>
					<p>
						<b><i><%= event_datetime(event.date) %></i>&nbsp;&nbsp;&nbsp;&nbsp;<%= event.venue %></b>
					</p>
					<p>
						<%= truncated_blurb(event.description.html_safe) %>
					</p>
					<p>
						<%= event.performers.html_safe %>
					</p>
					<hr />
				</div>
			<% end %>
		<% end %>
	<% end %>

</div>