<% meta title: @page.title,
	keywords: @page.keyword_list %>

<% if @page.has_children? || @page.has_siblings? %>
	<div class='col-xs-12 col-sm-2 col-md-2 col-lg-2'>
		<div class = "spacer"></div>
			<ul class = 'page-nav'>
				<% @page.children.each do |page| %>
					<li>
						<%= link_to page_path(page) do %>
							<%= page.title %>
						<% end %>
					</li>
				<% end %>
				<% if !@page.root? %>
					<% @page.siblings.each do |page| %>
						<li>
							<%= link_to page_path(page) do %>
								<%= page.title %>
							<% end %>
						</li>
					<% end %>
				<% end %>
			</ul>
	</div>
	<div class='col-xs-12 col-sm-10 col-md-10 col-lg-10'>
<% else %>
	<div>
<% end %>
		<h1 class = "page-heading"><%= @page.title %></h1>
		<% if @page.feature_image.present? %>
			<section class ='feature-image col-xs-12 col-sm-12 col-md-offset-1 col-md-8'>
				<%= image_tag @page.feature_image_url, :class => 'img-responsive' %>
			</section>
			<br />
			<div class='spacer'></div>
		<% end %>
		<section class = 'page-content col-xs-12 col-sm-12 col-md-12'>
			<%= @page.content.html_safe %>
		</section>
		<section class = 'page-record col-xs-12 col-sm-12 col-md-12'>
			<% if @page.staffs.present? %>
					<% @page.staffs.group_by(&:role).each_pair do |role, staffs| %>
						
							<% if Staff::ADMIN_ROLES.include?(role) %>
								<h4>Admin Staff</h4>
								<div class = 'row'>
									<% staffs.each do |staff| %>
										<% if staff.photo %>
								  			<div class = "col-sm-6 col-md-3 col-lg-3">
								  				<%= link_to staff_path(staff) do %>
								    			<div class = "thumbnail staff-thumb">
								     			<%= image_tag staff.photo.image_url %>
								      				<div class = "caption">
								        			<h4><%= staff.full_name %></h4>
								        			<%= staff.role %>
								      				</div>
								   				</div>
								   				<% end %>
								   			</div>
								   		<% else %>
								   			<div class = "col-sm-6 col-md-3 col-lg-3">
								  				<%= link_to staff_path(staff) do %>
								    			<div class = "thumbnail staff-thumb">
								     			<%= image_tag 'person_holder.png' %>
								      				<div class = "caption">
								        			<h4><%= staff.full_name %></h4>
								        			<%= staff.role %>
								      				</div>
								   				</div>
								   				<% end %>
								   			</div>
							   			<% end %>
							   		<% end %>
							   	<div>
							<% else %>
								<div class = 'row'>		
									<h4><%= role.capitalize %></h4>
									<% staffs.each do |staff| %>
										<% if staff.photo %>
								  			<div class = "col-sm-6 col-md-3 col-lg-3">
								  				<%= link_to staff_path(staff) do %>
								    			<div class = "thumbnail staff-thumb">
								     			<%= image_tag staff.photo.image_url %>
								      				<div class = "caption">
								        			<h4><%= staff.full_name %></h4>
								        			<%= staff.role %>
								      				</div>
								   				</div>
								   				<% end %>
								   			</div>
								   		<% else %>
								   			<div class = "col-sm-6 col-md-3 col-lg-3">
								  				<%= link_to staff_path(staff) do %>
								    			<div class = "thumbnail staff-thumb">
								     			<%= image_tag 'person_holder.png' %>
								      				<div class = "caption">
								        			<h4><%= staff.full_name %></h4>
								        			<%= staff.role %>
								      				</div>
								   				</div>
								   				<% end %>
								   			</div>
							   			<% end %>
							   		<% end %>
							   	</div>
				   			<% end %>
					<% end %>
			<% end %>
			<% if @page.courses.present? %>
				<h4>Courses</h4>
					<ul>
						<% @page.courses.rank(:row_order).each do |course| %>
							<li><%= link_to course.title, course_path(course) %></li>
						<% end %>
					</ul>
			<% end %>
			<% if @page.events.present? %>
				<h4>Events</h4>
				<ul>
					<% @page.events.order(date: :desc).each do |event| %>
						<li><%= link_to event.title, event_path(event) %></li>
					<% end %>
				</ul>
			<% end %>
			<% if @page.fees.present? %>
				<h4>Fee</h4>
					<% @page.fees.group_by(&:fee_type).each_pair do |fee_type, fees| %>
						<b><%= fee_type %></b>
						<ul>
							<% fees.each do |fee| %>
							<li><%= fee.title %>: <%= fee.description %>, <%= number_to_currency fee.amount, :unit => '£' %></li>
							<% end %>
						</ul>
					<% end %>
			<% end %>
			<% if @page.klasses.present? %>
				<h4>Classes</h4>
				<ul>
					<% @page.klasses.rank(:row_order).each do |klass| %>
						<li><%= link_to klass.title, klass_path(klass) %></li>
					<% end %>
				</ul>
			<% end %>
			<% if @page.quotes.present? %>
				<h4>What People Say...</h4>
				<ul>
					<% @page.quotes.each do |quote| %>
						<li><%= link_to quote.saying, quote_path(quote) %></li>
					<% end %>
				</ul>
			<% end %>
		</section>
</div>

