<% cache "footer" do %>
<div class = 'big-footer'>
	<div class = 'col-xs-12 footer-content container-fluid'>
		<div class = 'col-xs-6 col-sm-6 col-md-3 col-lg-3 footer-panel'>
			<ul>
				<% @courseformats.rank(:row_order).each do |courseformat| %>
					<li class="footer-title"><%= link_to courseformat.title, courseformat %></li>
					<% courseformat.courses.rank(:row_order).each do |course| %>
					<li class="footer-item"><%= link_to course.title, course %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
		<div class = 'col-xs-6 col-sm-6 col-md-3 col-lg-3 footer-panel'>
			<ul>	
				<% @menus.main.roots.rank(:row_order).each do |menu| %>
					<li class="footer-title"><%= link_to menu.name, menu.navigation %></li>
						<% if menu.has_children? %>
							<% menu.children.each do |sub| %>
								<li class="footer-item"><%= link_to sub.name, sub.navigation %></li>
							<% end %>
						<% end %>
				<% end %>
			</ul>
		</div>
		<div class = 'col-xs-6 col-sm-6 col-md-3 col-lg-3 footer-panel'>
			<ul>	
				<% @menus.secondary.roots.rank(:row_order).each do |menu| %>
					<li class="footer-title"><%= link_to menu.name, menu.navigation %></li>
						<% if menu.has_children? %>
							<% menu.children.each do |sub| %>
								<li class="footer-topic"><%= link_to sub.name, sub.navigation %></li>
							<% end %>
						<% end %>
				<% end %>
			</ul>
		</div>
		<div class = 'col-xs-6 col-sm-6 col-md-3 col-lg-3 footer-panel'>
			<ul>	
				<li class="footer-title">Contact</li>
				<li class="footer-item">
					AIMS International Music School<br />
					88 Gordon Road<br />
					Shoreham-by-Sea, West Susssex<br />
					BN43 6WE
				</li>
			</ul>
		</div>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-panel copy-right'>
		Copyright 2016 AIMS UK | All Rights Reserved | <%= link_to 'Terms and Conditions', tersm_and_conditions_path %> and <%= link_to 'Privacy Policy', privacy_policy_path %>| Powered by  <%= link_to 'Logical Thinking', "http://logical-thinking.co.uk/" %>
	</div>
	</div>
</div>
<% end %>
