<div class = 'col-xs-12 footer-content container-fluid'>
	<div class = 'col-xs-6 col-sm-6 col-md-3 col-lg-3 footer-panel'>
		<ul>
			<% @course_formats.each do |course_format| %>
				<li class="footer-title"><%= link_to course_format.title, course_format %></li>
				<% course_format.courses.each do |course| %>
				<li class="footer-topic"><%= link_to course.title, course %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class = 'col-xs-6 col-sm-6 col-md-3 col-lg-3 footer-panel'>
		<ul>	
			<% @menus.main.roots.each do |menu| %>
				<li class="footer-title"><%= menu.name %></li>
					<% if menu.has_children? %>
						<% menu.children.each do |sub| %>
							<li class="footer-topic"><%= sub.name %></li>
						<% end %>
					<% end %>
			<% end %>
		</ul>
	</div>
	<div class = 'col-xs-6 col-sm-6 col-md-3 col-lg-3 footer-panel'>
		<ul>	
			<li class="footer-title">Social</li>
			<li class="footer-topic">Facebook</li>
			<li class="footer-topic">Twitter</li>
			<li class="footer-topic">Instagram</li>
		</ul>
	</div>
	<div class = 'col-xs-6 col-sm-6 col-md-3 col-lg-3 footer-panel'>
		<ul>	
			<% @menus.secondary.roots.each do |menu| %>
				<li class="footer-title"><%= menu.name %></li>
					<% if menu.has_children? %>
						<% menu.children.each do |sub| %>
							<li class="footer-topic"><%= sub.name %></li>
						<% end %>
					<% end %>
			<% end %>
		</ul>
	</div>
</div>
