<nav class ="navbar navbar-secondary">
	<div class="navbar-header">
	     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="glyphicon glyphicon-info-sign"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#">About</a></li>
		<li><a href="#">Support Us</a></li>
		<li><a href="#">FAQ</a></li>
		<li><a href="#">Contact Us</a></li>
	</ul>
	</div>
</nav>

<%= link_to root_path do %>
	<div class = "brand">
	<%= image_tag "AIMS_red.jpg", :alt => 'AIMS', :class => 'logo' %> International Music School
	</div>
<% end %>

<nav class="navbar navbar-default navbar-main">
	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
		    	<span class="sr-only">Toggle navigation</span>
		    	<span class="icon-bar"></span>
		    	<span class="icon-bar"></span>
		    	<span class="icon-bar"></span>
		    </button>
	   	</div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		    <ul class="nav navbar-nav">
		      	<% @course_formats.each do |course_format| %>
		        	<li>
			         	<%= link_to course_format.title, course_format %>
				         	<span class="sr-only">(current)</span>
		         	</li>
		         <% end %>
		         <% @menus.main.roots.each do |menu| %>
			        <% if menu.has_children? %>
				    	<li>
				         	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= menu.name %><span class="caret"></span></a>
				        </li>
				    <% else %>
			        	<li>
			         		<%= link_to menu.name, '#' %>
			         	</li>
			         <% end %>
		         <% end %>
		        <li><%= link_to 'Staff', staffs_path %></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		    	<li><a href="#">Booking</a></li>
		    </ul>  
	    </div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->


	<nav class='navbar navbar-third'>
    	<div class = 'container-fluid'>
        	<ul class="nav navbar-nav">
	          	<% @menus.find_by_name('Course Information').children.each do |child| %>
	          	<li><%= link_to child.name, '#' %></li>
	          	<% end %>
        	</ul>
 		 </div>
	</nav>

</nav>

	<nav class = 'navbar navbar-third'>
		<div class = 'container-fluid'>
			<ul class = "nav navbar-nav">
				<% @courses.each do |course| %>
					<li class='hidden-xs hidden-sm'><%= link_to course.title, course_path(course) %></li>
				<% end %>
			</ul>
		</div>
	</nav>

<ul>
<% @menus.main.arrange.each do |menu, submenu| %>
<li><%= menu.name %></li>
<ul>
	<% submenu.each do |sub| %>
	<li><%= sub %>
	</li>
	<% end %>
</ul>
<% end %>
</ul>

<script>
	$(function() {
	});
</script>
