<!DOCTYPE html>
<html>
<head>
  <title>Aims2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render "layouts/header" %>

	<div class = 'col-xs-offset-1 col-xs-10'>
	<br />

		<%= yield %>

	</div>

</body>
</html>
