<!DOCTYPE html>
<html>
<head>
  <title>Aims2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = 'header'>
		<%= render "layouts/header" %>
	</div>
	<div class = 'wrapper'>

		<%= yield %>
		<div class = "push"></div>
	</div>


	<div class = "footer">
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
