<!DOCTYPE html>
<html>
<head>
  <%= metamagic site: 'AIMS', title: [:title, :site], separator: " | ", keywords: [:keywords, "music", "singing"] %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'aims-favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

	<div class = 'wrapper'>
		<div class = 'header'>
		<%= render "layouts/header" %>
		</div>
		<div class='main container-fluid'>
			<div class = 'col-xs-15 col-sm-offset-1 col-sm-10'>

			<% if notice.present? %>
			<p class="alert alert-info"><%= notice %></p>
			<% end %>

			<% if alert.present? %>
			<p class="alert alert-danger"><%= alert %></p>
			<% end %>

			<%= yield %>
			</div>
		</div>
	</div>


	<div class = "footer container-fluid">
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
