<!DOCTYPE html>
<html>
<head>
  <title>AIMS International Music School</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'aims-favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

	<div class = 'wrapper'>
		<div class = 'header'>
		<%= render "layouts/header" %>
		</div>
		<div class='main container-fluid'>
			<div class = 'col-xs-offset-1 col-xs-10'>

			<%= yield %>
			</div>
		</div>
	</div>


	<div class = "footer">
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
